// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.get-started-button {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: rgba(26, 28, 32, 0.75);
    border-radius: 25px;
  }

#video-svg {
    position: relative;
    background: rgba(240, 165, 0, 0.6);

}

#video-svg:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#video-svg-img {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
#tshirt-svg {
    position: relative;
    background: rgba(240, 165, 0, 0.6);

}

#tshirt-svg:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#tshirt-svg-img {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

#journal-svg {
    position: relative;
    background: rgba(207, 117, 0, 0.6);
}

#journal-svg:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#journal-svg-img {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

#shopping-basket-svg {
    position: relative;
    background: rgba(207, 117, 0, 0.6);

}

#shopping-basket-svg:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#shopping-basket-svg-img {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

#profile_picture {

    border-radius:50%;
    background-color:rgba(240.00000089406967, 165.00000536441803, 0, 0.6000000238418579);
    opacity:1;
    width: 30%;

}

#profile_picture img{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}



.next-button {
  margin-top: 5rem;
    position: relative;
    border-radius:500px;
    background-color:rgba(240.00000089406967, 165.00000536441803, 0, 0.699999988079071);
    opacity:1;
    width:36px;
    height:36px;
  }

  .next-line1{
    position: relative;
    width: 18.44px;
    height: 0px;
    transform: rotate(-139.39870646625258deg);
    opacity:1;
    border:1px solid rgba(0, 0, 0, 1);

  }
  .next-line2 {
    position: relative;
    width: 18.03px;
    height: 0px;
    transform: rotate(-33.69006657880298deg);
    opacity:1;
    border:1px solid rgba(0, 0, 0, 1);
  }



  .prev-button.col-2 {
    position: relative;
    border-radius:500px;
    background-color:rgba(240.00000089406967, 165.00000536441803, 0, 0.699999988079071);
    opacity:1;
    width:36px;
    height:36px;
    margin-top: 5rem;
  }

  .prev-arrow {
    position:relative;
    opacity:1;
    width:15px;
    height:22px;
  }

  .prev-line1 {
    transform: rotate(146.309933421197deg);
    opacity:1;
    border:1px solid rgba(0, 0, 0, 1);
    position: relative;;
    width: 18.03px;
    height: 0px;
  }

  .prev-line2 {
    transform: rotate(40.6012935337474deg);
    opacity:1;
    border:1px solid rgba(0, 0, 0, 1);
    position: relative;;
    width: 18.44px;
    height: 0px;
  }

.choose-cats {
    color:rgba(240.00000089406967, 165.00000536441803, 0, 0.699999988079071);
    opacity:1;
    width:271px;
    height:38px;
    text-align:left;
    font-size:32px;
    letter-spacing:0;
    line-height:undefined;
  }

.ellipse.product{
  background: #f4f4f4;
  display: none;
  padding: 80px;
  text-align: center;
  border-radius: 500px;
}

.ellipse.category{
  background: #f4f4f4;
  display: none;
  padding: 80px;
  text-align: center;
  border-radius: 500px;
}

  div > p{
    text-align: center;
    vertical-align: middle;
  }

  div > hr{
    margin-top: 10px;
    margin-bottom: 0;
  }

  .next-button-button{
    background-color:rgba(244.0000006556511, 244.0000006556511, 244.0000006556511, 0.6000000238418579);
    opacity:1;
    width: 304px;
    height: 62px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;

    color: #1A1C20;
    border-radius: 25px;
  }

  .user-home-btn {
	background-color:rgba(244.0000006556511, 244.0000006556511, 244.0000006556511, 0.6000000238418579);
	opacity:1;
	width:304px;
    height:62px;
    font-family: Nunito;
    border-radius: 25px;
}



